body {
	background-color: #999;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.expense-table {
    margin: 0 auto;
    background-color: white; 
    width: 600px; 
    border: 2px solid black;
}

.expence-form  {
	margin: 0 auto;
    display: inline;
}

.error {
	color: red;
}

.show-expense tr td:first-child {
	width: 200px;
}

.error-msg {
	color: red;
}